.page-footer {
  background-color: #4d4d4d;
  color: #ffffff;
}

.text-center {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1em;
}

p {
  color: #f1f1f193;
}

a {
  color: #f1f1f193;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #ffffff;
}
